<h1>Admin Dashboards</h1>

<p>Current statistics of the store: </p>

<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Number of Products: 
    <span class="tag-pill">
      <%= @product_count %>
    </span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Number of Categories: 
    <span class="tag-pill">
      <%= @category_count %>
    </span>
  </li>
</ul>
