<section>
  <header class="page-header">
    <h1>About Us</h1>
  </header>

  <p>We are a online plant shop, we sell the highest quality plants and flowers. We source our products from reputable growers and nurseries, so you can be sure you're getting a healthy, beautiful plant. Plus, ordering is quick and easy!
  </p>

</section>